html {
  font-size: 15px;
  min-height: 100vh;
}

body {
  font-family: 'Spartan', sans-serif;
  color: $main-color;
  padding: 1rem;
  line-height: 1.2;
  background: url("/images/bg-pattern-top-mobile.svg") top left no-repeat,
              url("/images/bg-pattern-bottom-mobile.svg") bottom right no-repeat;
}

@media (min-width: $breakpoint) {
  body {
    padding: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 2rem 10rem;
    grid-template-areas:
      "title rates"
      "reviews reviews";
    background: url("/images/bg-pattern-top-desktop.svg") top left no-repeat,
                url("/images/bg-pattern-bottom-desktop.svg") bottom right no-repeat;
  }
}